<!--<h1>Board#create</h1>
<p>Find me in app/views/board/create.html.erb</p>-->

<h1>게시판</h1>
<!--작성폼-->
<fieldset>
    <legend>작성하기</legend>
    <form action='/board/create'>
        <label>이름</label>
        <input type='text' name='username' placeholder='작성자'/><br>
        <label>내용</label>
        <textarea name='contents' ></textarea>
        <br>
        <input type='submit' value='등록'/>
        
        
    </form>
    
</fieldset>

